
  <div class="container" style="max-height: 450px">
    <!-- <div class="col">
      <canvas baseChart
                  [data]="doughnutChartData"
                  [labels]="doughnutChartLabels"
                  [chartType]="doughnutChartType"
                  [options] = "doughnutChartOptions">
      </canvas>
    </div> -->
  <div class="col">
    <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [chartType]="barChartType"
              [options] = "barChartOptions"
              [colors] ="barChartColours">
    </canvas>
  </div>
  </div>


<br />

<div class="col-12">
  <!-- <span class="float-md-left">
    <button class="btn btn-primary" (click) = "toggleOption()">Show {{chartOption === 'selected' ? 'cooked' : 'selected'}} Foods</button>
  </span> -->
  <span class="float-md-left">
    <label>Min Quantity to Chart<input [(ngModel)]="chartMinQty" placeholder="minQty" (change)="minQtyChange()"></label>
  </span>

</div>

<div class="container">
  <app-table [detail]="detailComponent" [objects]="foodUsages" [tableHeaders]="headers"></app-table>
</div>
