<div *ngIf="usage">
  <table class = "table table-striped col-6 text-left">
    <thead>
      <th><h1><img [src]="imageLocation">{{food.name}}</h1></th>
    </thead>
    <tbody>
    <tr><th>Id: </th><td>{{food.id}}</td></tr>
    <tr><th>Name: </th><td>{{food.name}}</td></tr>
    <tr><th>Sugar Content:</th><td>{{food.sugarContent}}</td></tr>
    <tr><th>Category: </th><td>{{food.categoryName}}</td></tr>
    <tr><th>Location: </th><td>{{food.locationName}}</td></tr>
    <tr><th>Selected: </th><td>{{usage.selectedQuantity}}</td></tr>
    <tr><th>Cooked: </th><td>{{usage.cookedQuantity}}</td></tr>
  </tbody>
  </table>
</div>

<div class = "row">
  <div class="justify-content-between col-6">
    <span class="float-md-left">
      <button class="btn-sm btn-primary" (click) = "prev();">Prev</button>
    </span>
    <span class="float-md-right">
      <button class="btn-sm btn-primary" (click) = "next();">Next</button>
  </span>
  </div>
</div>

<div class="row">
  <div class="justify-content-between col-6">
    <span class="float-md-left">
    <button class="btn-sm btn-primary" (click) = "goBack();">Back</button>
    </span>    <span class="float-md-right">
        <button class="btn-sm btn-primary" (click) = "goList();">Food List</button>
        </span>
  </div>
</div>

